@model VanLangDoctor.Models.SO_KHAM_BENH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SO_KHAM_BENH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BENH_NHAN.TEN_BN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BENH_NHAN.TEN_BN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SOKHAMBENH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
