<style>
    .ih-item.circle.effect3 .info {
        background: #333333;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }

    .ih-item.circle.effect3.bottom_to_top .info {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    .ih-item.circle.effect3.bottom_to_top a:hover .info {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
       
</style>
<!-- Bottom to top-->
<div class="row">
    <div class="col-sm-6">
        <div class="ih-item circle effect3 bottom_to_top">
            <a href="#">
                hover me
                <div class="info">
                    <h3>Heading here</h3>
                    <p>Description goes here</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ih-item circle effect3 bottom_to_top ">
    <a href="tel:">aaaaaaaaaaaa
        <i class="icon-phone2 info">
            2312414
        </i>
    </a>
</div>
<!-- end Bottom to top-->
@*<link href="~/Content/src/ihover.css" rel="stylesheet" />*@