<link href="~/Content/assets-dr/css/dropdown-acc.css" rel="stylesheet" />
<div class="dots" onclick="this.classList.toggle('active');">
    <div class="dot"></div>
    <div class="shadow cut"></div>
    <div class="container cut">
        <div class="drop cut"></div>
    </div>
    <div class="list">
        <ul>
            <li>
                Mark as read
            </li>
            <li>
                Flag as important
            </li>
            
        </ul>
    </div>
</div>