@model IEnumerable<VanLangDoctor.Models.BACSI>

@{
    ViewBag.Title = "Doctor";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@Html.DisplayFor(modelItem => item.TEN_BACSI)</td>
                    <td>@Html.DisplayFor(modelItem => item.CHUC_VU)</td>
                    <td class="ftco-animate">@Html.ActionLink("Details", "Details", new { id = item.ID_BACSI })</td>
                </tr>
            }
        </tbody>
    </table>
</div>