
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<body>
    <div class="awe-page-loading">
        <div class="awe-loading-wrapper">
            <div class="awe-loading-icon">
                <img src="assets/images/logo.png" alt="images">
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    
    <div class="wrappage">
        <div class="container">
            <div class="banner-header banner-lbook3 space-30">
                <img src="~/Content/assets-ff/images/banner-blog.jpg" alt="Banner-header">
                <div class="text">
                    <h3>About us</h3>
                    <p><a href="#" title="Home">Home</a><i class="fa fa-caret-right"></i>Blog Masonry</p>
                </div>
            </div>
        </div>
        <!-- End container -->
        <div class="page-about">
            <div class="container container-ver2 space-50 head-about">
                <div class="choose-us">
                    <div class="title-choose align-center about">
                        <h4>Welcome to Fresh Food</h4>
                        <h3>A LITTLE STORY ABOUT US</h3>
                        <div class="align-center border-choose">
                            <div class="images">
                                <img src="~/Content/assets-ff/images/bg-border-center.png" alt="icon">
                            </div>
                            <!--End images-->
                        </div>
                        <!--End border-->
                    </div>
                </div>
                <!--End choose-us-->
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="~/Content/assets-ff/images/about-head1.jpg" alt="images">
                    </div>
                    <!--End col-md-6-->
                    <div class="col-md-6 pd-left-10">
                        <h3>A FRIENDLY ONLINE STORY</h3>
                        <p>Lorem ipsum dolor sit ameconsecteturadipiscingelit. Curabiturutiaculis arcu. Proin tincidunt, ipsum nec vehicula euismnequnibhpretiumlorem at ornare risus sem et risus.</p>
                        <p>Curabitur pulvinar dui viverra liberlobortis in dictum velit luctus. Donec imperdiet tincidunt interdum. Duultricies condimentum interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                        <div class="slider-about owl-carousel">
                            <div class="items">
                                <a href="#" title="post-item">
                                    <img src="~/Content/assets-ff/images/about-blog-1.jpg" alt="images">
                                </a>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <a href="#" title="post-item">
                                    <img src="~/Content/assets-ff/images/about-blog-1.jpg" alt="images">
                                </a>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <a href="#" title="post-item">
                                    <img src="~/Content/assets-ff/images/about-blog-1.jpg" alt="images">
                                </a>
                            </div>
                            <!--End items-->
                        </div>
                        <!--End slider-->
                    </div>
                    <!--End col-md-6-->
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <div class="about-choose center space-padding-tb-40 space-30">
                <div class="choose-us about-choose">
                    <div class="container container-ver2">
                        <div class="title-choose align-center">
                            <h3>Why Choose Us</h3>
                            <div class="align-center border-choose">
                                <div class="images">
                                    <img src="~/Content/assets-ff/images/bg-border-center.png" alt="icon">
                                </div>
                                <!--End images-->
                            </div>
                            <!--End border-->
                        </div>
                        <!--End title-->
                        <div class="col-md-4 align-right">
                            <div class="items">
                                <div class="icon">
                                    <img src="~/Content/assets-ff/images/icon-about1.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Always Fresh</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <div class="icon">
                                    <img src="assets/images/icon-about2.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Keep You Healthy </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <div class="icon">
                                    <img src="assets/images/icon-about3.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Healthy Cooking </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                        </div>
                        <!--End col-md-3-->
                        <div class="col-md-4">
                            <img class="img-responsive" src="assets/images/images-choose1.jpg" alt="banner">
                        </div>
                        <!--End col-md-6-->
                        <div class="col-md-4 align-left">
                            <div class="items">
                                <div class="icon">
                                    <img src="assets/images/icon-about4.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Always Fresh</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <div class="icon">
                                    <img src="assets/images/icon-about5.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Always Fresh</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <div class="icon">
                                    <img src="assets/images/icon-about6.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Always Fresh</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                        </div>
                        <!--End col-md-3-->
                    </div>
                    <!--End container-->
                </div>
                <!--End choose-us-->
            </div>
            <!-- End about chose -->
            </div>
        </div>
    </body>
</html>
