 .u-section-1 {
  background-image: url("images/cbdcdba2c3d2a70b362554a6b4fd749a.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-group-1 {
  width: 855px;
  min-height: 448px;
  margin: 170px auto 170px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 16px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 35px 185px 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 15px 197px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 705px;
    min-height: 494px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 113px;
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 296px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 87px;
    margin-bottom: 87px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 199px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 227px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 506px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 149px;
    margin-left: 9px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 170px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-group-1 {
    min-height: 607px;
    margin-top: 86px;
    margin-bottom: 61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 68px;
    margin-right: 0;
    margin-left: 0;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 20px;
    margin-right: 107px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 320px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -107px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 45px auto 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 45px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 45px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 20px 45px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 45px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    position: relative;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-2 {
    position: relative;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-3 {
    position: relative;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 728px;
}

.u-section-3 .u-group-1 {
  width: 779px;
  min-height: 76px;
  margin: 44px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  margin: 18px 20px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 53px auto 21px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 172px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 20px 15px 15px 102px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 161px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 20px 15px 15px 102px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 167px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 20px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  margin: -77px 15px 0 102px;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 20px 15px 15px 102px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 500px;
}

.u-section-3 .u-image-1 {
  width: 640px;
  height: 563px;
  margin: -27px auto -54px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-3 .u-group-1 {
    width: 642px;
    margin-top: 40px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 56px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 178px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 534px;
  }

  .u-section-3 .u-image-1 {
    width: 100%;
    height: 532px;
    margin-top: 4px;
    margin-bottom: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-image-1 {
    width: 100%;
    height: 414px;
    margin-top: 44px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1381px;
  }

  .u-section-3 .u-group-1 {
    width: 542px;
    min-height: 238px;
    margin-top: 70px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -15px;
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-image-1 {
    width: 590px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-3 .u-group-1 {
    min-height: 288px;
    margin-top: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -48px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-image-1 {
    width: 100% ;
    height: 470px;
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 248px;
}

.u-section-4 .u-group-1 {
  width: 700px;
  min-height: 86px;
  height: auto;
  margin: 10px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 26px 20px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: -10px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 162px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 20px 15px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-5 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-6 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-group-1 {
    width: 577px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 29px;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    width: 124px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-icon-3 {
    position: relative;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    width: 124px;
  }

  .u-section-4 .u-icon-4 {
    position: relative;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    width: 124px;
  }

  .u-section-4 .u-icon-5 {
    position: relative;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    width: 124px;
  }

  .u-section-4 .u-icon-6 {
    position: relative;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    width: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 442px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 15px;
  }

  .u-section-4 .u-text-2 {
    width: 178px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 15px;
  }

  .u-section-4 .u-text-3 {
    width: 139px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: 134px;
  }

  .u-section-4 .u-text-5 {
    width: 139px;
  }

  .u-section-4 .u-text-6 {
    width: 95px;
  }

  .u-section-4 .u-text-7 {
    width: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 414px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    width: 174px;
  }

  .u-section-4 .u-text-3 {
    width: 135px;
  }

  .u-section-4 .u-text-4 {
    width: 144px;
  }

  .u-section-4 .u-text-5 {
    width: 123px;
  }

  .u-section-4 .u-text-6 {
    width: 89px;
  }

  .u-section-4 .u-text-7 {
    width: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 177px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-4 .u-text-2 {
    width: 158px;
    margin-bottom: 18px;
  }

  .u-section-4 .u-text-3 {
    width: 138px;
  }

  .u-section-4 .u-text-4 {
    width: 136px;
  }

  .u-section-4 .u-text-5 {
    width: 125px;
  }

  .u-section-4 .u-text-6 {
    width: 125px;
  }

  .u-section-4 .u-text-7 {
    width: 125px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 532px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 45px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 478px;
}

.u-section-5 .u-image-1 {
  width: 285px;
  height: 285px;
  margin: 136px auto 0 20px;
}

.u-section-5 .u-image-2 {
  width: 525px;
  height: 400px;
  margin: -447px 0 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 478px;
  background-image: none;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  margin: 53px 20px 0;
}

.u-section-5 .u-text-2 {
  margin: 33px 20px 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 59px auto 0;
  padding: 12px 20px 13px;
}

.u-section-5 .u-icon-1 {
  font-size: 1.4em;
  margin-left: 1px;
  vertical-align: -2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 394px;
  }

  .u-section-5 .u-image-2 {
    width: 478px;
    height: 364px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-5 .u-image-2 {
    width: 361px;
    height: 275px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 425px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 259px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 623px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin: 10px 0 50px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-6 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-6 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 991px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  margin: 24px auto 0;
}

.u-section-7 .u-line-1 {
  width: 300px;
  height: 3px;
  transform-origin: center top 0px;
  border-style: dashed;
  margin: -34px 161px 0 auto;
}

.u-section-7 .u-line-2 {
  width: 300px;
  height: 3px;
  transform-origin: center top 0px;
  border-style: dashed;
  margin: -3px auto 0 161px;
}

.u-section-7 .u-group-1 {
  width: 570px;
  min-height: 88px;
  margin: 54px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 20px 0;
}

.u-section-7 .u-list-1 {
  width: 1064px;
  margin: 11px auto 0;
}

.u-section-7 .u-repeater-1 {
  min-height: 631px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-7 .u-image-1 {
  height: 457px;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-7 .u-image-2 {
  height: 457px;
  margin: 0;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-7 .u-image-3 {
  height: 457px;
  margin: 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px 0 0;
}

.u-section-7 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-7 .u-image-4 {
  height: 457px;
  margin: 0;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px 0 0;
}

.u-section-7 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-7 .u-image-5 {
  height: 457px;
  margin: 0;
}

.u-section-7 .u-text-10 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px 0 0;
}

.u-section-7 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-7 .u-image-6 {
  height: 457px;
  margin: 0;
}

.u-section-7 .u-text-12 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px 0 0;
}

.u-section-7 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-7 .u-image-7 {
  height: 457px;
  margin: 0;
}

.u-section-7 .u-text-14 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px 0 0;
}

.u-section-7 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-btn-1 {
  background-image: linear-gradient(to right, #73a3de, #48c8ef);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 60px;
  padding: 18px 33px 19px 31px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-line-1 {
    margin-top: -164px;
  }

  .u-section-7 .u-line-2 {
    margin-top: 50px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -26px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-list-1 {
    width: 940px;
    margin-top: -27px;
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-7 .u-image-1 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-5 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-6 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-7 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-7 .u-image-1 {
    height: 465px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 465px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 465px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 465px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-5 {
    height: 465px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-6 {
    height: 465px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-7 {
    height: 465px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-line-1 {
    /*margin-top: 1213px;*/
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    margin-top: -1404px;
    /*margin-left: 300px;*/
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
    /*margin-top: 850px;*/
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 806px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 806px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 806px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 806px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    height: 806px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-6 {
    height: 806px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-7 {
    height: 806px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-line-1 {
    margin-top: 100px;
    margin-right: 40px;
    display: none;
  }

  .u-section-7 .u-line-2 {
    margin-left: 40px;
    display: none;
  }
    span.u-file-icon.u-icon.u-icon-1.fix-plus {
        margin-bottom: 50px;
    }
 .fix-hide {
     display: none;
 }
  .u-section-7 .u-group-1 {
    width: 340px;
    margin-top: -900px;
    /*margin-left: 400px;*/
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
    /*margin-top: 887px;*/
    /*margin-left: 400px;*/
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-image-1 {
    height: 496px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 496px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 496px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 496px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-5 {
    height: 496px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-6 {
    height: 496px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-7 {
    height: 496px;
    margin-right: initial;
    margin-left: initial;
  }
}