@model VanLangDoctor.Models.sendMail
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "SendMail", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h1>Send Mail</h1>
            <hr />
            <table>
                <tr>
                    <td style="width:80px">
                        From:
                    </td>
                    <td>
                        <div class="box-text">Admin</div>
                    </td>
                </tr>
                <tr>
                    <td style="width:80px">
                        To:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.to)
                    </td>
                </tr>
                <tr>
                    <td>
                        Subject:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.subject)
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        Body:
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.body, new { row = "15", col = "25" })
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        Attachment:
                    </td>
                    <td>
                        <input name="file" type="file" accept=".png,.jpg,.gif,.txt,.ppt,.pptx,.docx,application/pdf, application/msword"/>
                    </td>
                </tr>
            </table>
            <input value="Send" type="submit" />
            <button type="reset">Reset</button>
            <br />
            <span style="color:green">@ViewBag.Message</span>
        }
    </div>
</body>
</html>
