@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/asset_About/nicepage.css" media="screen">
<link rel="stylesheet" href="~/Content/asset_About/About-Us.css" media="screen">

<body data-home-page="About-Us.html" data-home-page-title="About Us" class="u-body u-xl-mode">
    <header class="u-clearfix u-header u-header" id="sec-7d6b">
    </header>
    <section class="u-clearfix u-image u-section-1" id="carousel_1acf" data-image-width="1980" data-image-height="1232">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-26 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h1 class="u-text u-text-white u-text-1">Tư Vấn Sức Khỏe ​Online</h1>
                            <a href="#" class="u-active-white u-btn u-btn-rectangle u-button-style u-custom-font u-font-oswald u-hover-palette-1-light-2 u-radius-0 u-text-palette-1-base u-white u-btn-1" target="_blank">&nbsp;Chi Tiết</a>
                        </div>
                    </div>
                    <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-34 u-image-1">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_6aae">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-12 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-15 u-size-30-md u-layout-cell-1">
                            <div class="u-container-layout u-valign-top u-container-layout-1">
                                <div class="u-border-4 u-border-palette-2-base u-line u-line-horizontal u-line-1"></div>
                                <h4 class="u-text u-text-1">Về chúng tôi</h4>
                                <p class="u-text u-text-grey-50 u-text-2"> Đại học Văn Lang với tuổi đời 25 năm trong ngành giáo dục, chúng tôi tự tin mang lại cho mọi người những sản phẩm mà sinh viên chúng tôi đào tạo mang lại cho mọi người.</p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
                            <div class="u-container-layout u-valign-top u-container-layout-2">
                                <div class="u-border-4 u-border-palette-2-base u-line u-line-horizontal u-line-2"></div>
                                <h4 class="u-text u-text-3">Vấn đề&nbsp;</h4>
                                <p class="u-text u-text-grey-50 u-text-4"> Trong tình hình dịch bệnh như hiện nay, nhu cầu tư vấn chăm sóc tại nhà của người bệnh là rất cần thiết, người bệnh muốn trao đổi với bác sĩ để biết phải làm gì để bảo vệ mình khi mắc bệnh. đang điều trị tại nhà hoặc biết tình trạng bệnh hiện tại Bác sĩ có thể đưa ra đơn thuốc mà bệnh nhân có thể mua để tự điều trị tại nhà.</p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3">
                            <div class="u-container-layout u-valign-top u-container-layout-3">
                                <div class="u-border-4 u-border-palette-2-base u-line u-line-horizontal u-line-3"></div>
                                <h4 class="u-text u-text-5">Tầm nhìn</h4>
                                <p class="u-text u-text-grey-50 u-text-6"> VanLangDoctor là một website tư vấn sức khoẻ online của trường đại học Văn Lang nhằm mục đích giúp cho sinh viên Van Lang và  mọi người có thể nhận được sự tư vấn về sức khoẻ một cách nhanh chóng và an toàn. Website mang lại sự khác biệt với các đối thủ trên thị trường là sự tiện lợi, nhanh chóng, an toàn, với sự tư vấn của các bác sĩ, dược sĩ có chuyên môn được đào tạo bài bản.</p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-15 u-size-30-md u-layout-cell-4">
                            <div class="u-container-layout u-valign-top u-container-layout-4">
                                <div class="u-border-4 u-border-palette-2-base u-line u-line-horizontal u-line-4"></div>
                                <h4 class="u-text u-text-7">Mục Tiêu</h4>
                                <p class="u-text u-text-grey-50 u-text-8">Chúng tôi mong muốn tạo ra một trang web giúp cho nhu cầu khám chữa bệnh của bác sĩ và khám bệnh của bệnh nhân phù hợp với điều kiện hiện nay. Giúp người bệnh nhận biết sớm bệnh của mình, giúp bác sĩ có môi trường làm việc linh hoạt và chuyên nghiệp hơn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-white u-section-3" id="carousel_c62e">
        <div class="u-clearfix u-sheet u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-valign-middle-lg u-valign-middle-xl u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-36 u-layout-cell-1">
                            <div class="u-container-layout">
                                <div class="u-container-style u-group u-image u-image-tiles u-image-1" data-image-width="400" data-image-height="400">
                                    <div class="u-container-layout u-container-layout-2"></div>
                                </div>
                                <img class="u-image u-image-2" src="~/Content/asset_About/images/csvc-011.jpg" data-image-width="1200" data-image-height="800">
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-24 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-3">
                                <h1 class="u-text u-text-body-color u-text-1"> Trường đại học mở cho những tâm hồn rộng mở</h1>
                                <p class="u-large-text u-text u-text-variant u-text-2"> Ngày 27/01/1995, Thủ tướng Chính phủ ký Quyết định số 71/TTg cho phép thành lập Trường Đại học Dân lập Văn Lang. Từ tâm huyết của các nhà sáng lập hướng về thế hệ trẻ, hướng về tương lai của đất nước, phương châm “ĐẠO ĐỨC – Ý CHÍ – SÁNG TẠO” đã trở thành một phần biểu trưng của Trường.Mỗi khóa sinh viên đến Văn Lang học tập với niềm hứng khởi và tình cảm yêu thương dành cho một ngôi nhà lớn – Văn Lang đại học đường.Văn Lang hôm nay hướng đến đào tạo những con người toàn diện, học tập suốt đời, có đạo đức và mang lại những ảnh hưởng tích cực truyền cảm hứng cho cộng đồng.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="carousel_0cb9">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <div class="u-container-style u-group u-image u-image-tiles u-image-1" data-image-width="400" data-image-height="400">
                                    <div class="u-container-layout u-container-layout-2"></div>
                                </div>
                                <img class="u-image u-image-2" src="~/Content/asset_About/images/bac-si-thu-y-tu-van-online-2.jpg" data-image-width="1100" data-image-height="715">
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-3">
                                <h2 class="u-text u-text-1">
                                    <b>Tại sao bạn nên tư vấn Bác sĩ Online ?</b>
                                </h2>
                                <p class="u-text u-text-3">
                                    <ul>
                                        <li>• Phù hợp tư vấn sức khỏe cho gia đình, từ trẻ nhỏ tới người già</li>
                                        <li>• Được tư vấn định hướng phương pháp điều trị&nbsp;</li>
                                        <li>• Đảm bảo giãn cách xã hội - Tránh tiếp xúc gần</li>
                                        <li>• Được tư vấn chuẩn đoán định hướng bệnh</li>
                                        <li>• Được tư vấn chăm sóc sức khỏe ban đầu&nbsp;</li>
                                        <li>• Có thể tư vấn hầu hết các chuyên khoa&nbsp;</li>
                                        <li>• Thuận tiện sắp xếp thời gian công việc&nbsp;</li>
                                        <li>• Được tư vấn đơn thuốc điều trị bệnh&nbsp;</li>
                                        <li>• Tiết kiệm thời gian di chuyển&nbsp;</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script class="u-script" type="text/javascript" src="~/Content/asset_About/jquery.js" defer=""></script>
<script class="u-script" type="text/javascript" src="~/Content/asset_About/nicepage.js" defer=""></script>