@model List<VanLangDoctor.Models.AspNetUser>
@{
    ViewBag.Title = "Danh sách tài khoản";
}

<div class="col-md-4">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"> <i class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Admin/DSTaiKhoan/DSTaiKhoan">Danh sách tài khoản</a>
        </li>
    </ul>
</div>

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <!-- Basic table card start -->
                <div class="card">
                    <div class="card-header">
                        <h5>Danh sách tài khoản</h5>
                        @*<span>use class <code>table</code> inside table element</span>*@
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Quyền</th>
                                        <th scope="col">Chỉnh sửa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        var item = Model[i];
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@item.Email</td>
                                            @if (item.AspNetRoles.ToList().Count == 0)
                                            {
                                                <td>Sinh Viên</td>
                                            }
                                            else
                                            {
                                                <td>@item.AspNetRoles.ToList()[0].Name</td>
                                            }
                                            <td><a href="~/Admin/PhanQuyen/PhanQuyen?username=@item.Email">Chỉnh sửa</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Basic table card end -->
            </div>
            <!-- Page-body end -->
        </div>
    </div>
    <!-- Main-body end -->

    <div id="styleSelector">

    </div>
</div>
