@model IEnumerable<VanLangDoctor.Models.TIN_TUC>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<div class="page-about">
    <div class="our-team">
        <div class="container container-ver2 center">
            <div class="choose-us">
                <div class="title-choose align-center about">
                    <h4>Tin tức</h4>
                    <h3>FRESH FOOD’S FARMERS</h3>
                    <div class="align-center border-choose">
                        <div class="images">
                            <img src="~/Content/assets-ff/images/bg-border-center.png" alt="icon" />
                        </div>
                        <!--End images-->
                    </div>
                    <!--End border-->
                </div>
            </div>
            <!--End choose-us-->
            <div class="row">
                @foreach (var i in Model)
                {
                    <div class="col-md-4 col-sm-4 space-30">
                        <div class="interactive-banner interactive-banner-v1 center">
                            <div class="interactive-banner-body">
                                <img class="img-responsive" src="@Url.Action("Picture", new { i.ID_TIN_TUC })" style="width:255px;height:255px" alt="images">
                            </div>
                        </div>
                        <div class="banner-title">
                            <h3>@i.TEN_BAI_VIET</h3>
                            <p>@i.NOI_DUNG.Length.ToString()</p>
                            <div class="interactive-banner-profile text-center">
                                <div class="action light-style">
                                    <a href="#">Lượt xem: @i.CountViews</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col-md-4 -->
                }
            </div>
            <!-- End row -->
        </div>
        <!-- End container-ver2 -->
    </div>
    <!-- End our team -->
</div>